<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Maritime Accidents</title>
</head>
<body style="background-color : #fde">
<form method="post" action="./evaluateDocs">
    <h1>
        <center>Trec Evaluation</center>
    </h1>
    <div class="col-md-12 col-md-offset-2" style="padding-top :3%">
        <div class="row">
            <label class="col-md-2">Documents to be evaluated by : </label>
            <div class=" col-md-4">
                <input type="text" class="form-control" id="txtName" name="txtName" placeholder="{{ name }}" required>
            </div>
            <span class="input-group-btn col-md-2">
          <input type="submit" class="btn btn-primary" value="Proceed"></input>
        </span>
        </div>
    </div>
</form>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>
</html>